body {
  padding: 3%
}

.smallFont {
  font-size: 0.7em
}

.mainNavigation {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

.mainNavigation li {
  display: inline-block;
  padding-right: 3%
}

.mainNavigation .active {
  font-weight: bold
}

.width10 {
  width: 10%
}